$primary: #D34EE9;
$secondary: #FF69B4;
$dark: #392C1E;
$bg-dark: #292222;
$font-family-sans-serif: "Montserrat", sans-serif !default;
$font-family-serif:"Hind Madurai", serif !default;



@import "../node_modules/bootstrap/scss/bootstrap";
